*{
    font-family: 'Copse', serif;
}
.parallax {
    /* The image used */
    background-image: url("./img/Seattle-day3-3.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 {
    /* The image used */
    background-image: url("./img/Seattle-day3-1.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    padding: 100px;
    padding-bottom: 60px;
    width: 500px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  
  .roles {
      font-size: 30px;
      height: 50px;
      vertical-align: middle;
      overflow: hidden;
  }
  
  .roles div {
      height: 50px;
      transition: margin-top 1s ease-in-out;
  }
  #profilePic{
        height: 200px;
        border-radius: 50%;
        margin-top: 10px;
  }
  .card-deck{
      width: 80%;
      margin: auto;
  }
  .card {
      /* margin-top: 10px;
      margin-bottom: 10px; */
  }
  #deck2{
      margin-top: 10px;
  }
  #socials{
      margin-top: 20px;
  }
  .socials {
      font-size: 35px;
      letter-spacing: 20px;
      margin: auto;
      color: black;
  }
  #resume{
      width: 90%;
      background-color: black;
  }
  #resume:hover, #resume:active {
      background-color: #ffffff;
      color: black;
  }
  #email{
      letter-spacing: 2px;
  }
  #resumebtn{
      color: #ffffff;
  }
  #resumebtn:hover, #resumebtn:active {
      color: black;
  }
  #contact{
      width: 60%;
    margin: auto;
  }
  #letsConnect{
      font-size: 35px;
      margin-top: 10px;

  }